#nav {
    padding: 15px;
    background-color: #F6D99D;
    height: 70px;
}
.nav-content {
    position: relative;
    display: inline-block;
}
.navbtn {
    background-color: #F6D99D;
    color: #940C14;
    padding: 20px;
    margin-left: 40px;
    border: none;
    font: 30px Lobster;
    font-weight: bold;
}
.navlink {
    position: absolute;
    display: none;
    padding: 20px;
    padding-left: 20px;
    font-size: x-large;
    border-color: #9F663A;
    text-align: center;
    min-width: 150px;
    background-color: #F6D99D;
    z-index: 5;
}
.navlink a {
    display: block;
    margin-top: 16px;
    color: #940C14;
    font-size: large;
    font-style: italic;
    font-family: Satisfy, cursive;
}
.nav-content:hover .navlink {
    display: block;
}
body {
    margin: 0;
    padding: 0;
    background-color: #F7EBD3;
}
h2 {
    font: 20px initial;
    font-family: Alegreya Sans, sans-serif;
    color: #940C14;
    font-size: x-large;
}
h3 {
    font-family: Merriweather;
    color: #9F663A;
    font-size: larger;
}
.contentpic{
    text-align: right;
    position: absolute;
    top: 200px;
    right: 35px;
}
img {
    border-radius: 5px;
}
.container {
    padding:0;
    margin: 0;
    min-width: 40%;
}
#pagetitle {
    color: #940C14;
    float: right;
    font: 24px Lobster;
    font-weight: bold;
    font-size: xx-large;
    padding-right:20px;
    padding: 15px;
}
p {
    font-family: Merriweather;
}
.intro {
    width: 40%;
    font-family: Merriweather;
}
input:invalid {
  outline: 3px solid red;
}
input:focus:invalid {
  color: red;
}
#content {
    margin-left: 15px;
    margin-right: 15px;
    padding: 25px;
    border-style:dotted;
    border-color: #9F663A;
}
#footer {
    padding: 5px;
    text-align: center;
    color: #940C14;
    background-color: #F6D99D;
    font-weight: bold;
    width: 100%;
    font-family: Lobster;
}
#clear {
    clear: both;
}
@media screen and (min-width: 700px) {
    .contentpic {
        width: 100%;
    }
}
